body {
	background-color: #CCCCFF;
}

.container {
	background-color: white;
}

#shop_head {
	margin-bottom: 15px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
}

#shop_main {
	min-height: 200px;
}

#shop_foot {
	background-color: rgb(51, 61, 101);
	color: #fff;
	padding: 30px;
	line-height: 1.8;
	margin: 15px 0px;
}
